@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 160px);
  gap: $spacing-md;
  margin: 0 auto;
  justify-content: center;

  @include responsive(lg) {
    grid-template-columns: repeat(4, 160px);
  }

  @include responsive(md) {
    grid-template-columns: repeat(3, 160px);
  }

  @include responsive(sm) {
    grid-template-columns: repeat(2, 160px);
  }

}
