@use 'sass:color';
@use 'variables' as *;

/* These mixins may be an overkill given the number of times they are used,
but they are only to demonstrate their implementation. */

@mixin responsive($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: $breakpoint-lg) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button-base {
  border: none;
  padding: $spacing-xs $spacing-sm;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color $transition-speed, color $transition-speed;
}
