@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use 'sass:color';

.header {
  background-color: $header-color;
  color: white;
  text-align: center;
  box-shadow: $shadow-sm;

  h1 {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: $spacing-sm;
    font-size: 2rem;
    z-index: 1;
    background-color: $text-color;
  }

  &-controls {
    @include flex-center;
    gap: $spacing-sm;
    margin-top: $spacing-sm;
    padding: $spacing-sm;
  }

  .moves,
  .time {
    font-size: 1.2rem;
    font-weight: bold;
  }
  .time {
    min-width: 100px;
  }

  .reset-button {
    @include button-base;
    background-color: transparent;

    border: 2px solid white;
    color: white;

    &:hover {
      background-color: white;
      color: $text-color;
    }

    &:disabled {
      background-color: transparent;
      color: white;
      opacity: 0.5;
    }
  }
}
