@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
  margin: $spacing-sm;
  border: 6px solid transparent;
  border-radius: 10px;
  transition: border $transition-speed;
  user-select: none;

  &-flipper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform $card-flip-speed, box-shadow $transition-speed;
    transform-style: preserve-3d;
  }


  &-front,
  &-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: $shadow-md;
    transition: box-shadow $transition-speed, transform $card-flip-speed;
    @include flex-center;
  }

  &-front {
    background-color: $white;
    transform: rotateX(-180deg) translateZ(15px);
    transform-style: preserve-3d;

    img {
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }
  }

  &-back {
    background-color: $primary-color;
    color: $white;
    font-size: 24px;

    &-content {
      font-size: 2em;
      font-weight: bold;
    }
  }

  &.flipped {
    .card-flipper {
      transform: rotateX(-180deg) ;
    }
    .card-front {
      box-shadow: $shadow-lg;
    }
  }

  &.matched {
    border-color: $success-color;
  }
}
