@use './styles/variables' as *;
@use './styles/mixins' as *;

.app {
  min-height: 100vh;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
}

main {
  padding: $spacing-lg;
  max-width: $breakpoint-lg;
  margin: 0 auto;
  position: relative;
  flex-grow: 1;
  @include flex-center;
}
